@font-face {
    font-family: 'BasisGrotesquePro';
    src: url('./BasisGrotesquePro-Bold.woff2') format('woff2'),
         url('./BasisGrotesquePro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BasisGrotesquePro';
    src: url('./BasisGrotesquePro-Medium.woff2') format('woff2'),
         url('./BasisGrotesquePro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BasisGrotesquePro';
    src: url('./BasisGrotesquePro-Regular.woff2') format('woff2'),
         url('./BasisGrotesquePro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}